html, body {
    height: 100%;
    margin: 0;
}

body {
    font: bold 2em "Open Sans", sans;
    text-align: center;
    text-shadow: 1px 1px gray;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

#game-board {
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.row > table {
    height: 100px;
    line-height: 100px;
    width: 100px;
}

input {
    width: 102px;
    height: 102px;
    border: none;
    font: 20em;
}

#start-game {
    font-size: 0.5em;
    margin-top: 20px;
    color: #8c92ac;
}

#results {
    font-size: 0.5em;
    color: #5260FF;
    text-align: center;
}

#status {
    font-size: 0.5em;
    color: #5260FF;
    text-align: center;
}