/* reset padding, boder and marging properties of all elements to avoid conflict with default browser stylesheet */

body #main-wrapper #header #user-wrapper #game-wrapper #game-board .square #start-button #results #status {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font: bold 2em "Open Sans", sans;
    text-align: center;
    text-shadow: 1px 1px gray;
}

#main-wrapper {
    height: 100%;
    margin: auto;
}

#header {
    font: bold 1em "Open Sans", sans;
}

#user-wrapper form button[type="submit"] {
    padding: 6px;
    position: relative;
    background: #FAFAFA;
    border: 1px solid #3f3f3f;
    cursor: pointer;
}

#user-wrapper form input[type="text"] {
    width: 18%;
    position: relative;
    padding: 3px;
    padding-left: 5px;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-right: 1px;
    margin-left: 1px;
    height: 30px;
}
/* hide game until the user logs on */

#game-wrapper {
    display: inline;
    height: 100%;
    margin: auto;
}

#game-board {
    width: 302px;
    height: 302px;
    border: 1px solid black;
    text-align: center;
    margin: auto auto;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    display: block;
}

#start-button {
    font-size: 0.5em;
    margin-top: 20px;
}

#results {
    font-size: 0.5em;
    color: #5260FF;
    text-align: center;
}

#status {
    font-size: 0.5em;
    color: #5260FF;
    text-align: center;
}